  meter {
    width: 7em;
  }
  
  meter::-webkit-meter-even-less-good-value {
    background: linear-gradient(to bottom, #f77, #f77, #fcc 20%, #d44 45%, #d44 55%);
    height: 100%;
    box-sizing: border-box;
  }  

  meter::-webkit-meter-suboptimum-value {
    background: linear-gradient(to bottom, #fe7, #fe7, #ffc 20%, #db3 45%, #db3 55%);
    height: 100%;
    box-sizing: border-box;
  } 
  meter::-webkit-meter-optimum-value {
    background: linear-gradient(to bottom,  #ad7, #ad7, #cea 20%, #7a3 45%, #7a3 55%);
    height: 100%;
    box-sizing: border-box;
  } 


  .CaptionEn {
    font-size: calc(3px + 1em);
    color: white;
    padding: 1px;
    margin: 1px;
  }

  .CaptionRu {
    font-size: calc(3px + 0.7em);
    color: rgb(50, 155, 240);
    padding: 1px;
    margin: 1px;
  }

    .Pic {
        height: 4em;
        width: auto;
        max-width: 8em;
        padding: 1px;
        margin: 1px;
    }